@CHARSET "ISO-8859-1";
.user-options-wrapper {
	text-align: right;
}

.form-background {
	background-color: white;
	border-radius: 10px;
	padding : 20px;
	box-shadow: 0px 0px 7px #999;
}

.form-error{
	border : 1px #f75353 solid;
	padding : 5px;
	color : #f75353;
}

.form-success{
	border : 1px #25a925 solid;
	padding : 5px;
	color : #25a925;
}

.banner-gallery {
	background : url('../img/banner2.jpg') center center repeat-x !important;
}
.banner-aboutus {
	background : url('../img/banner4.jpg') center center repeat-x !important;
}
.banner-shopping {
	background : url('../img/banner3.jpg') center center repeat-x !important;
}

.table-header{
	font-weight : bold;
	color : white;
	font-size : 16px;
	background-color : 	#444;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.table-row {
	border : 1px #444 solid;
	border-top : 0px #444 solid;
	padding : 5px;
}
.align-right {
	text-align : right;
}

.row-margin-5 {
	margin-top: 5px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.auth-required {
	font-size : 16px;
}

.address-list-item {
	margin-left : 10px;
}

.adrese-list-row-container:hover{
	background-color: #ddd;
}

.evidentiat{
	border : 3px orange solid !important;
}
.comanda-row {
	border : 1px #333 solid;
	padding : 2px;
}
.comanda-row:hover{
	background-color: #eef;
}
.produs-row{
	border-top : 1px #aaa solid;
}